# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# build artifacts
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# macOS Python-specific temp
*.swp
*.swo

# logs
*.log

# dotenv
*.env
*.local
